agv_firmware/Debug/
agv_firmware/.vscode/
.vscode/

*.o
*.d
*.elf
*.bin
*.hex
*.map
*.lst
agv_firmware/Debug/
# SolidWorks temporary files
~$*.SLDPRT
~$*.SLDASM
~$*.txt
~*

# SolidWorks backup and journal files
*.swp
*.sldlfp
*.swj

# STM32/CubeIDE build artifacts (Giữ lại Src/ và Inc/, chặn file build sinh ra)
**/Debug/
**/Release/